body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', serif;
    background-color: rgb(240, 245, 255, 0.3);
}

/*Styling Navigation*/
nav {
    min-height: 15vh;
}

.navStyling {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

.navStyling a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: darkgreen;
}

a:hover {
    color: darkblue;
}


.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/*End Styling Navigation*/

/*Styling Über mich Section*/
.about_image {
    max-width: 40%;
}

.about_text {
    max-width: 550px;
    color: rgb(137, 137, 137);
}

.main {
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.p-4 {
    padding: 4%;
    flex: 1 1 300px;
}

h1, h2 {
    display: block;
    width: 100%;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: rgb(25, 46, 47);
}

.main p {
    line-height: 2;
    font-size: large;
}

/*End Styling Über mich Section*/

/*Styling Galerie Section*/
.gallery_heading {
    font-size: 40px;
    font-weight: lighter;
}

.gallery_image {
    max-width: 100%;
}

#works {
    background-color: rgb(237, 238, 240, 0.4);
}

.image_description {
    color: rgb(137, 137, 137);
}

p {
    line-height: 1.5;
}

/*End Styling Galerie Section*/

/*Styling Form*/
.form_heading {
    font-weight: lighter;
    font-size: 30px;
}

h3 {
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

form .flex {
    justify-content: space-between;
    padding: 10px;
}

.mWidth {
    max-width: 700px;
    margin: 0 auto;
    display: block;
}

.p-20 {
    padding: 20px;
}

.field_sizing {
    padding: 10px;
    margin: 10px;
    min-width: 95%;
}

.button {
    padding: 15px;
    min-width: 150px;
    background-color: darkslategrey;
    color: white;
    font-family: Georgia, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid black;
    margin-top: 9px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

label {
    font-size: large;
    margin-bottom: 9px;
}

/*End Styling Form*/

/*Styling footer*/
footer {
    text-align: center;
    padding: 1%;
}

footer p {
    margin-top: 2%;
}

/*End Styling footer*/

